@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');

:root {
  --white: #F0F0F0;
  --grey: #595959;
  --black: #0F0F0F;
  --border: #FFFFFF10;
  --gradient-1: linear-gradient(-26deg, rgba(18,18,18,1) 0%, rgba(20,20,20,1) 100%);
  --gradient-2: linear-gradient(-68deg, rgba(23,23,23,1) 0%, rgba(28,28,28,1) 100%);

  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 2rem;
  --spacing-4: 2.5rem;
  --spacing-5: 4rem;
  --spacing-6: 6rem;
}

body {
  font-family: Chakra Petch;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: var(--black);
  padding: 0 var(--spacing-1);
}

h1, h2, p {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0;
}

a:visited {
  text-decoration: none;
  color: var(--white);
}

.text-grey {
  color: var(--grey);
}

.container-small {
  max-width: 768px;
  margin: 0 auto;
}

.container-large {
  max-width: 1440px;
  margin: 0 auto;
}

.flex-col-16 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.flex-col-64 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5)
}

.social-wrap {
  display: flex;
  gap: var(--spacing-3);
}

.link-wrap {
  display: flex;
  align-items: start;
  cursor: pointer;
  text-decoration: none;
}

.link-wrap p:hover {
  text-decoration: none;
}

.link {
  text-wrap: nowrap;
  color: var(--white);
  text-decoration: none;
}

.hero-padding {
 padding: 10rem 0;
} 

.preview-wrap {
  padding: var(--spacing-6);
  background: var(--gradient-1);
  border-radius: var(--spacing-1);
  cursor: pointer;
  display: block;
}

.preview-image {
  width: 100%;
  border-radius: var(--spacing-1);
  border: 1px solid var(--border);
}

.label {
  background: var(--gradient-2);
  padding: 8px 12px;
  border-radius: var(--spacing-4);
  cursor: default;
}

.border {
  border: 1px solid var(--border);
  border-bottom: 0px;
  border-right: 0px;
}

.label-wrap {
  display: flex;
  gap: var(--spacing-1);
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--spacing-3);
  margin-top: var(--spacing-4);
}

.text-small {
  font-size: 0.8rem;
}

.project {
  padding-bottom: 5rem;
}

.max-width-p {
  max-width: 27rem;
}

.footer-padding {
  padding-top: 8rem;
  padding-bottom: 3rem;
}

.space-btwn {
  display: flex;
  justify-content: space-between;
}

@media only screen 
   and (max-width : 1000px) {
   .preview-wrap {
    padding: var(--spacing-4);
   }
}

@media only screen 
   and (max-width : 768px) {
   .preview-wrap {
    padding: var(--spacing-3);
   }
   .space-btwn {
    flex-direction: column;
    gap: var(--spacing-3)
   }
}

.link-wrap:hover > .arrow {
  transform: translate(1.5px, -1.5px);
}

.link-wrap > .arrow {
  transition: transform 0.15s ease;
}
