@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&display=swap');

:root {
  --green: #b3dca0;
  --white: #fafafa;
  --black: #141414;
  --grey: #c0c0c0;
  --dark-grey: #404040;

  --text-12: 0.75rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-24: 1.25rem;
  --text-32: 2rem;

  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-16: 1rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-48: 3rem;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Inter Tight";
  font-weight: 300;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

p {
  font-size: var(--text-16);
}

h1, h2, p {
  margin: 0;
}

.spacer-xlarge {
  padding: 7rem 0;
}

.spacer-large {
  padding: 5rem 0;
}

.spacer-medium {
  padding: 2rem 0;
}

.padding-global {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container-large {
  max-width: 1600px;
  margin: 0 auto;
}

.title-circle-wrapper {
  display: flex;
  align-items: center;
  gap: var(--size-12);
}

.green-circle {
  border: 1px solid var(--green);
  border-radius: 10rem;
  width: 1.375rem;
  height: 1.375rem;
}

.heading-large {
  /* font-size: clamp(1.75rem, -0.7661rem + 8.3871vw, 5rem); */
  font-size: 5rem;
  font-weight: 200;
  letter-spacing: -4px;
  line-height: 1.1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.heading-small {
  font-size: var(--text-32);
  font-weight: 300;
}

.text-style-small {
  font-size: var(--text-14);
  font-weight: 300;
  margin: 2px 0;
}

.text-style-grey {
  color: var(--grey);
}

.heading-size-normal {
  font-size: var(--text-16);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--size-32);
  max-width: 66rem;
}

.hero-copy {
  font-weight: 200;
  font-size: var(--text-24);
  max-width: 75ch;
}

.filler-box {
  flex-grow: 1;
  border: 1px solid var(--dark-grey);
}

.contact-wrapper {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
}

.label-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.project-about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.project-work {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: start;
  width: 22rem;
}

.divider {
  width: 100%;
  margin: 2rem 0;
  border: 1px solid var(--dark-grey);
}

.work-label {
  margin: 0;
  font-size: var(--text-12);
  font-weight: 300;
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 100px;
  padding: 0.3rem 0.6rem;
  cursor: default;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.project-work-wrapper {
  display: flex;
  gap: 2rem;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid var(--dark-grey);
  overflow: hidden;
}

.max-width-p {
  max-width: 36rem;
}

.link-symbol {
  width: 0.75rem;
}

.contact-link {
  font-weight: 300;
  font-size: var(--text-14);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 2rem 2rem;
  border: 1px solid var(--dark-grey);
  transition: 400ms;
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
}

.contact-link:hover {
  color: var(--green);
  background-color: #1b1b1b;
}

.contact-link:active {
  background-color: #1f1f1f;
  transition: 50ms;
} 

.project-link {
  font-size: var(--text-14);
  display: flex;
  gap: 0.5rem;
  align-self: start;
  transition: 400ms;
  cursor: pointer;
  align-items: center;
  color: var(--white);
  text-decoration: none;
}

.project-link:hover {
  color: var(--green);
}

.char {
  transform: translateY(200px);
  transition: transform 1s;
}

.logotype {
  font-size: var(--size-16);
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  .heading-large {
    font-size: 3rem;
    letter-spacing: -2px;
  }
  .hero-copy {
    font-size: var(--text-16)
  }
  .project-work-wrapper {
    flex-direction: column;
  }
  .project-img {
    order: -1;
  }
  .project-work {
    width: 26rem;
  }
}

@media only screen and (max-width: 768px) {
  .padding-global {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .spacer-xlarge {
    padding: 4rem 0;
  }
}

/* @media only screen and (max-width: 640px) {
  .project-work {
    width: 100%;
  }
} */

@media only screen and (max-width: 480px) {
  .project-work {
    width: 100%;
  }
  .heading-large {
    font-size: 2rem;
  }
  .filler-box {
    display: none;
  }
  .contact-wrapper {
    flex-direction: column;
  }
  .contact-link {
    justify-content: center;
  }
  :root {
    --text-14: 0.75rem;
    --text-16: 0.875rem;
    --text-32: 1.5rem;
  }
}
